*{
  padding: 0px;
  margin: 0px;
}
.container{
  margin: 0px auto;
  
}


.headerbg{background-color:rgb(246, 243, 243)}

.headerbg a{
  text-decoration: none;
  color: black;
  margin-top: 12px;
}

.headerbg a:hover{
  text-decoration: none;
  color: black;
  
}

.headerbg h4{

  margin-top: 12px;
}

.footer{
  background-color:#343a40;
  text-align: center;
  color: rgb(250, 246, 246);
}
.icons{
  display: flex;
  list-style-type: none;  
  gap:10px;
  justify-content: flex-end;
  margin-top: 12px;
}
.icons li{
  font-size: 20px;

}

.icons .MuiSvgIcon-root{
  font-size: 2rem;
}

.nav_menu a{
  text-decoration: none;
  padding:8px 15px;
  color: black;
  
  font-weight: 600;
}

.nav_menu {
 text-align: center;
 padding-top: 10px ;
}

.active{
  color: red!important;
  background-color: rgb(246, 243, 243);
 
 
}

.copyright-text{
  padding: 10px;
background-color: black;
color: white;
text-align: center;
}


.card-title{
  font-size: 16px;
}

.laoding{
  text-align: center;
}

